<div class="row col-xs-12 center-xs">
    <div class="col-xs-10 center-xs"> 
        <h4>{{datosEntrada?.titulo}}</h4>
    </div>
    <div class="col-xs-10 center-xs"> 
        <p>{{datosEntrada?.detalle}}</p>
    </div>
    <div class="row col-xs-12 center-xs">
        <div class="col-xs-4">
            <button mat-flat-button (click)="cancelar()" color="warn" type="button">Cancelar</button>

        </div>
        <div class="col-xs-4">
            <button mat-flat-button (click)="guardar()" color="primary" type="button" >Aceptar</button>

        </div>
    </div>
</div>