<div class="example-container font1">
    <mat-toolbar class="example-toolbar font1" color="primary">
        <button mat-icon-button class="example-icon" (click)="snav.toggle()"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="font1">
            <b>
                OPTIMIJAC
            </b>
        </span>
        <span class="example-spacer font1"></span>
        <h2 class="task">
            <b>
                USER
            </b>
        </h2>
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with share icon">
            <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="font1">
            <div class="font1" *ngIf="!user">
                <button class="font1" mat-menu-item [routerLink]="['/authentication']">
                    <mat-icon color="primary">assignment_ind</mat-icon>
                    <span class="font1">Iniciar Sesion</span>
                </button>
            </div>

            <div *ngIf="user" class="font1">
                <button class="font1" mat-menu-item [routerLink]="['/perfil']">
                    <mat-icon color="primary">assignment_ind</mat-icon>
                    <span class="font1">Perfil</span>
                </button>
                <button mat-menu-item [routerLink]="['/autenticacion/login']">
                    <mat-icon class="material-icons color_red">keyboard_tab</mat-icon>
                    <span class="font1">Cerrar Sesion</span>
                </button>
            </div>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container font1" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" class="shadow3 font1">
            <mat-nav-list class="padding-16 font1">
                <mat-list-item (click)="snav.toggle()" *ngFor="let page of allPages" [routerLink]="[page.url]">
                    <mat-icon color="primary" *ngIf="page.iconMaterial" matListIcon>{{page.iconMaterial}}</mat-icon>
                    <h3 [class]="'task'" matLine> {{page.title}}</h3>
                    <i *ngIf="page.iconFa" [class]="page.iconFa + ' primary'" matListIcon></i>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>


        <mat-sidenav-content>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>