<form [formGroup]="formularioComuna" (ngSubmit)="guardar()" (keyup.enter)="guardar()" autocomplete="on">

    <div class="row center-xs">
      <h1>{{datosEntrada?.titulo}} Departamento</h1>
    </div>
  
    <mat-dialog-content>
      <div class="row center-xs">
        <mat-form-field appearance="outline">
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="selected">
            <mat-option  *ngFor="let municipio of listMunicipio" value="municipio.id">{{ municipio.nombre }}</mat-option>
           
            
          </mat-select>
        </mat-form-field>
        <span class="text-danger ml-2"
          *ngIf="formularioComuna.get('departamento')?.hasError('required') 
          && formularioComuna.get('departamento')?.touched">
          El departamento <strong>es requerido</strong>
        </span>
  
  
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput 
          placeholder="Nombre" 
          formControlName="nombre">
        </mat-form-field>
  
        <span class="text-danger ml-2"
          *ngIf="formularioComuna.get('nombre')?.hasError('required') 
          && formularioComuna.get('nombre')?.touched">
          El nombre <strong>es requerido</strong>
        </span>
  
      </div>
    </mat-dialog-content>
  
    <div class=" form-group row center-xs">
      <div class="col-xs">
        <button mat-flat-button 
        (click)="cancelar()" 
        type="button" 
        color="warn">Cancelar</button>
      </div>
  
      <div class="col-xs">
        <button mat-flat-button 
        (click)="guardar()" 
        type="submit" 
        color="primary"
        [disabled]="formularioComuna.invalid"
        >Guardar</button>
      </div>
    </div>
  
  </form>