
  <div class="row margin-0 start-xs padding-20">
    <mat-card-title>COMUNAS</mat-card-title>
  </div>
  <h4 *ngIf="listComunas.length === 0 && loading === false" >No hay Comunas para mostrar </h4>
  <div class="row margin-0 start-xs padding-16">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 padding-10" *ngFor="let comunas of listComunas" >
      <mat-card routerLink="/RolAdminComuna/verComuna/{{comunas.id}}"  class="shadow1 borde-radio-10 cursor-pointer">
        <mat-card-header >
          <div mat-card-avatar class="comunasimage"></div>

          <mat-card-title class="trunc-1">{{comunas?.nombre}}</mat-card-title>
          <mat-card-subtitle class="margin-bottom-0">Nombre de la comuna</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

<button mat-fab color="primary" class="colorWh fab-right" (click)="modalFormulario()" >
  <mat-icon>add</mat-icon>
</button>

 