// TITULO
h1{
    text-align: center;
    padding-top: 20px;
    font-family:  'Times New Roman', Times, serif;
    font-size: 75px;
  }
  
  .btn-outline-info{
    width: 100%;
  }
  
  
  //ESTILO DE LA TABLA
  /*
  th, td{
    font-size: large;
    text-align: center;
  }
  
  .tabla{
    height: 5px;
    overflow-y: auto;
    width: 100%;
  }
  
  .fa-sync-alt{
    padding-left: 10px;
  }
  
  .new{
    width: 100%;
  }
  
  .select{
    border: none;
    background: transparent;
  }
  
  */
  ////////////////////
  
  //ESTILO DE LOS BOTONES ELIMINAR Y MODIFICAR
  
  .wrapper .button{
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    box-shadow: 2px 2px 20px rgb(56, 201, 211);
  }
  
  .wrapper .button .icon{
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 25px;
    box-sizing: border-box;
    line-height: 20px;
    transition: all 0.3s ease-out;
  }
  
  .fa-pen{
    color: #1DA1F2;
    
  }
  
  .fa-trash-alt{
      color: #ff0000;
  }
  
  .wrapper .button:nth-child(1):hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #ff0000;
  }
  
  .wrapper .button .icon i{
    font-size: 18px;
    line-height: 35px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  
  ////////////////////////////
  
  //ESTILO BOTON FLOTANTE
  .buttonFlooting {
    height: 50px;
    width: 50px;
    background: rgb(1, 216, 91);;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    box-shadow: 2px 2px 20px rgb(1, 216, 91);
    position: fixed;
    right: 5%;
    top: 85%;
  }
  
  .buttonFlooting .icon{
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 25px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  
  .buttonFlooting .icon i{
    font-size: 30px;
    line-height: 50px;
    transition: all 0.3s ease-out;
  }
  
  .fa-plus{
      color: #fff;
  }
  
  .buttonFlooting:hover{
      background: #fff ;
  }
  
  .buttonFlooting:hover .icon i{
    color: rgb(1, 216, 91);;
  }
  
  ///////////////////////////////
  
  //ESTILO DE LAS CARDS
  
  .title {
    text-align: center;
    padding-top: 10px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  
  .des {
    padding: 3px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .card {
    font-family: 'Poppins', sans-serif;
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    margin: 2%;
    max-height: 76px;
  }
  .example-header-image {
    background-image: url('https://www.flaticon.es/svg/vstatic/svg/4284/4284747.svg?token=exp=1619193812~hmac=e87d765f7f41e46a1d7b496810f01cd4');
    background-size: cover;
  }
  .colorWh{
    color: #fff;
  }
  