<section class="row margin-0 start-xs padding-16">

    <div >
      <button mat-fab color="primary" class="mat-focus-indicator fab-le mat-fab mat-button-base mat-primary"
        routerLink="/RolAdminMunicipio">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    
      <div class="example-button-row ">
        <mat-card-title >{{ municipio.nombre | uppercase }}</mat-card-title>
      </div>
  </section>
  
  <div class="row margin-0 center-xs padding-16">
    <div class="row margin-0 col-xs-12 col-sm-8 col-md-4 col-lg-4 padding-bottom-10 center-xs">
      <mat-card class="shadow1 borde-radio-10">
        <mat-card-header class="center-xs">
  
          <mat-card-title>0</mat-card-title>
          <mat-card-subtitle class="margin-bottom-0">Municipios</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
   
    <div class="row margin-0 col-xs-12 col-sm-8 col-md-4 col-lg-4 padding-bottom-10 center-xs">
      <mat-card class="shadow1 borde-radio-10">
        <mat-card-header class="center-xs">
  
          <mat-card-title>0</mat-card-title>
          <mat-card-subtitle class="margin-bottom-0">Barrios</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  
  <!-- boton foltante -->
  <div class="containerDos">
    <input type="checkbox" id="btn-mas">
    <div class="redes">
        <a (click)="modalFormulario()" class="fa fa-book"></a>
        <a (click)="modalEliminar()" class="fa fa-trash"></a>
    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="fa fa-plus"></label>
    </div>
</div>