section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
    
  }
  .example-button-row .mat-card-title {
   margin: 8px 8px 8px 0;
  }
  
  
  .flotante{
      z-index: 10;  
      position: absolute;  
      right: 0;  
      top: 0;
  }
  
  
  
  .example-container {
      height: 400px;
      overflow: auto;
    }
    
    table {
      width: 100%;
    }

    #btn-mas{
      display: none;
  }
  .containerDos{
      position: fixed;
      bottom: 20px;
      right: 20px;
  }
  .redes a, .btn-mas label{
      display: block;
      text-decoration: none;
      background: #2a7e2e;
      color: #fff;
      width: 55px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
      transition: all 500ms ease;
  }
  .redes a:hover{
      background: #fff;
      color: #2a7e2e;
  }
  .redes a{
      margin-bottom: -15px;
      opacity: 0;
      visibility: hidden;
  }
  #btn-mas:checked~ .redes a{
      margin-bottom: 10px;
      opacity: 1;
      visibility: visible;
  }
  .btn-mas label{
      cursor: pointer;
      background: #2a7e2e;
      font-size: 23px;
  }
  #btn-mas:checked ~ .btn-mas label{
      transform: rotate(135deg);
      font-size: 25px;
  }