<body >
    <div class="font1">
        <div class="boxContainer">
            <img class="imageContainer borde-radio-15" src="../../../../../assets/svg/forgot_password.svg" alt="">
            <div class="infoContainer">
                <mat-card class="shadow3 borde-radio-8 tamContenedor">
                    <mat-card-header class="row center-xs">
                        <mat-card-title class="trunc-1 font1 text-28 margin-bottom-0" ><b>RECUPERAR PASSWORD</b></mat-card-title>
                        <mat-card-subtitle class="margin-bottom-1 font1 text-13 secondary-text-color">ingrese sus credenciales</mat-card-subtitle>
                    </mat-card-header>
    
                    <mat-dialog-content>
                        <div class="row center-xs font1">
                            <mat-form-field appearance="outline">
                                <mat-label class="font1" >Enter your Email(*)</mat-label>
                                <input  matInput class="font1"  >
                            </mat-form-field>
                            
                        </div>
    
                
    
                    </mat-dialog-content>
    
                    <div class="center-xs">
                        <div class="col-xs">
                            <button mat-flat-button type="submit" color="primary" class="btn font1 text-20 "><b>RECUPERAR</b></button>
                        </div>
                        <div class="col-xs padding-top-15 ">
                            <button mat-flat-button type="submit" [routerLink]="['/authentication/login']" class="btn font1 text-20 primary-color-dark"><b>CANCELAR</b></button>
                        </div>
                        <div class="row margin-0 padding-10 font1">
                            <span>¿No tienes cuenta? </span>
                            <b [routerLink]="['/authentication/registro']">Registrate</b>
                        </div>
    
    
                    </div>
                </mat-card>
                <br>
            </div>
          
    
        </div>
    </div>
    
</body>