
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FrontEnd-primary: mat.define-palette(mat.$indigo-palette);
$FrontEnd-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FrontEnd-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FrontEnd-theme: mat.define-light-theme((
  color: (
    primary: $FrontEnd-primary,
    accent: $FrontEnd-accent,
    warn: $FrontEnd-warn,
  )
));

/*
.primary {
  color: mat-color($FrontEnd-primary);
}
.accent {
  color: mat-color($FrontEnd-accent);
}
.warn {
  color: mat-color($FrontEnd-warn);
}

.primary-back {
  background-color: mat-color($FrontEnd-primary);
}
.accent-back {
  background-color: mat-color($FrontEnd-accent);
}
.warn-back {
  background-color: mat-color($FrontEnd-warn);
}
*/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FrontEnd-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/sandstone/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sandstone/variables";
/* You can add global styles to this file, and also import other style files */
@import 'flexboxgrid-sass/flexboxgrid.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";


.fab-right{
  right: 16px;
  bottom: 16px;
  left: auto;
  position: fixed !important;
  z-index: 101;
}

.mat-dialog-container{
  border-radius: 10px !important;
}

.shadow1 { 
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(108, 113, 131, 0.2) !important;
}

.shadow2 { 
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5) !important;
}

.shadow3 { 
  box-shadow: 0 5px 10px rgba(25, 26, 25, 0.05), 0 15px 40px rgba(27, 49, 32, 0.274) !important;
}
//background color 
back-color{
  background-color: #F2F7FF !important;
}


//imagenes de fondo
.habitantesimage{
  background-image: url(~src/assets/svg/habitantes.svg);
  background-size: cover;
}
.comunasimage{
  background-image: url(~src/assets/svg/comunas.svg);
  background-size: cover;
}
.barriosimage{
  background-image: url(~src/assets/svg/barrios.svg);
  background-size: cover;
}
.pqrsimage{
  background-image: url(~src/assets/svg/pqrs.svg);
  background-size: cover;
}
.usuarioscargoimage{
  background-image: url(~src/assets/svg/usuarioscargo.svg);
  background-size: cover;
}

.cursor-pointer{
  cursor: pointer !important;
}

// arreglo hasta 1000 recomendado para propiedades que no usen porcentaje
@for $i from 0 through 1000{
  //------------------------ redondear bordes 
  .borde-radio-#{$i} {
    border-radius: #{$i}px !important;
    --border-radius: #{$i}px !important;
  }

  .borde-radio-top-#{$i} {
    border-radius: #{$i}px #{$i}px 0 0 !important;
    --border-radius: #{$i}px #{$i}px 0 0 !important;

  }

  .borde-radio-buton-#{$i} {
    border-radius: 0 0 #{$i}px #{$i}px !important;
  }
  //--------------------------

  // margen
  .margin-#{$i} {
    margin: #{$i}px !important;
  }
  //margin vertical
  .margin-vertical-#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }
  //margin horizontal
  .margin-horizontal-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
  //margin top
  .margin-top-#{$i} {
    margin-top: #{$i}px !important;
  }
  //marging bottom
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  //margin margin-left
  .margin-left-#{$i} {
    margin-left: #{$i}px !important;
  }
  //margin right
  .margin-right-#{$i} {
    margin-right: #{$i}px !important;
  }

  //pading
  .padding-#{$i} {
    padding: #{$i}px !important;
  }

  .padding-top-#{$i} {
    padding-top: #{$i}px !important;
  }
  .padding-bottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .padding-start-#{$i} {
    padding-left: #{$i}px !important;
  }
  .padding-end-#{$i} {
    padding-right: #{$i}px !important;
  }

  .padding-horizontal-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }

  .padding-vertical-#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }

  //-------- tamano del texto en pixeles
  .text-#{$i} {
    font-size: #{$i}px !important;
  }
  //
  // ancho en pixeles 
  .w-#{$i} {
    width: #{$i}px !important;
  }
  // alto en pixeles
  .h-#{$i} {
    height: #{$i}px !important;
  }

  //alto y ancho mismo tamano
  .h-w-#{$i} {
    height: #{$i}px !important;
    width: #{$i}px !important;

  }
  // truncar texto especificando a partir de que linea
  .trunc-#{$i} {
    display: -webkit-box !important;
    overflow: hidden;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
  //------------------------
  // le cambia el tamano a cualquien elemento en forma simetrica 
  .avatar-#{$i} {
    overflow: hidden;
    width: #{$i}px !important;
    height: #{$i}px !important;
  }

  .max-h-#{$i} {
    max-width: #{$i}px !important;
  }

  .maxmin-h-#{$i} {
    min-height: #{$i}px !important;
    max-height: #{$i}px !important;
  }
}
//clases que utilizan porcentaje
@for $i from 0 through 100{

 
  // clip path mascara
 .clip-circle-#{$i}p {
    clip-path: circle(0% + $i at center);
  }
  
  //tiempo de espera para animacion
  .custom-delay-#{$i}{
    animation-delay: #{$i/10}s !important; 
  }

  //borde radio porcentaje
  .borde-radio-#{$i}p {
    border-radius: 0% + $i !important;
  }

  // ancho en porcentaje 
  .w-p-#{$i} {
    width: 0% + $i !important;
  }
  
  // alto en porcentaje
  .h-p-#{$i} {
    height: 0% + $i !important;
  }

  //margin
  .margin-#{$i}-porcent {
    margin: 0% + $i !important;
  }
  //margin vertical
  .margin-vertical-#{$i}porcent {
    margin-top: 0% + $i !important;
    margin-bottom: 0% + $i !important;
  }
  //margin horizontal
  .margin-horizontal-#{$i}porcent {
    margin-left: 0% + $i !important;
    margin-right: 0% + $i !important;
  }
  //margin top
  .margin-top-#{$i}porcent {
    margin-top: 0% + $i !important;
  }
  //marging bottom
  .margin-bottom-#{$i}porcent {
    margin-bottom: 0% + $i !important;
  }
  //margin margin-left
  .margin-left-#{$i}porcent {
    margin-left: 0% + $i !important;
  }
  //margin right
  .margin-right-#{$i}porcent {
    margin-right: 0% + $i !important;
  }

  //pading
  .padding-#{$i}porcent {
    padding: 0% + $i !important;
  }

  .padding-horizontal-#{$i}porcent {
    padding-left: 0% + $i !important;
    padding-right: 0% + $i !important;
  }

  .padding-vertical-#{$i}porcent {
    padding-top: 0% + $i !important;
    padding-bottom: 0% + $i !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
