<div class="contenedor">

    <div>
        <div class="formulario shadow3">

            <mat-card class="shadow3 borde-radio-8 tamContenedor">
                <mat-card-header class="row center-xs">
                    <mat-card-title class="trunc-1 font1 text-28 margin-bottom-0"><b>CREAR USUARIO</b>
                    </mat-card-title>
                    <mat-card-subtitle class="margin-bottom-1 font1 text-13 padding-top-8">ingrese las credenciales
                    </mat-card-subtitle>
                </mat-card-header>
             
                <app-loading *ngIf="loading"></app-loading>
                <form [formGroup]="formulario" (ngSubmit)="registrarUsuario()">
                    <mat-dialog-content>
                        <div class="row center-xs font1">
                            <mat-form-field appearance="outline">
                                <mat-label class="font1">Enter your Email(*)</mat-label>
                                <input matInput placeholder="email" formControlName="email" class="font1">
                                <mat-hint align="start">
                                    <span class="text-danger ml-2" *ngIf="formulario.get('email')?.hasError('required') 
                                        && formulario.get('email')?.touched">
                                        El Email <strong>es requerido</strong>
                                    </span>
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label class="font1">Enter your password(*)</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-hint align="start">
                                    <span class="text-danger ml-2" *ngIf="formulario.get('password')?.hasError('required') 
                                        && formulario.get('password')?.touched">
                                        El password <strong>es requerido</strong>
                                    </span>
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label class="font1">confirm password(*)</mat-label>
                                <input matInput [type]="hideDos ? 'password' : 'text'"
                                    formControlName="passwordConfirmar">
                                <button mat-icon-button matSuffix (click)="hideDos = !hideDos"
                                    [attr.aria-label]="'HideDos password'" [attr.aria-pressed]="hideDos">
                                    <mat-icon>{{hideDos ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-hint align="start">
                                    <span class="text-danger ml-2" *ngIf="formulario.get('passwordConfirmar')?.hasError('required') 
                                        && formulario.get('passwordConfirmar')?.touched">
                                        El password <strong>es requerido</strong>
                                    </span>
                                </mat-hint>
                            </mat-form-field>

                        </div>
                    </mat-dialog-content>

                </form>


                <div class="center-xs">
                    <div class="col-xs">
                        <button mat-flat-button type="submit" color="primary" class="btn font1 text-20"
                            (click)="registrarUsuario()" [disabled]="formulario.invalid"><b>REGISTRARSE</b></button>
                    </div>
                    <div class="col-xs padding-top-15 ">
                        <button mat-flat-button type="submit" [routerLink]="['/authentication/login']"
                            class="btn font1 text-20 primary-color-dark"><b>CANCELAR</b></button>
                    </div>
                </div>
            </mat-card>
        </div>

    </div>
    <div>
        <img class="imageContainer borde-radio-15" src="../../../../../assets/svg/registrar_login.svg" alt="">
    </div>

</div>